<!DOCTYPE html>
<html>
  <head>
    <title>edit</title>
    <style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }
    li {
      float: left;
    }
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    li a:hover {
      background-color: #111;
    }
    </style>

  </head>

  <body>
<ul>
     <li><%= link_to 'User Profile'%></li>
     <li><%= link_to 'Edit_User', user_edit_path(session[:current_user_id]) %></li>
     <li><%= link_to 'sign_out', :controller => :user, :action => :sign_out %></li>
</ul>
<p>User Name : <%= @user[:User_name] %></p>
<p>Password : <%= @user[:Password] %></p>
<p>Number : <%= @user[:Mobile_number]%></p>
<p>Address : <%= @user[:Address]%></p>
<p>Gender : <%= @user[:Gender] %></p>
<p>Type : <%= @user[:tyype]%></p>
<p>Hobbies : <%= @user[:hobbies]%></p>
<p>PHOTO<br><%= image_tag @user.photo.url(:medium) %></p>

<%= form_with model: @user, url: user_profile_path, html: { method: :get } do |form| %>
  <% if @user && @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        prohibited this user from being saved:
      </h2>
    </div>
  <% end %>
  <%= form.hidden_field :id, :value => params[:id]%>
  <%= form.collection_select :course_ids, Course.all, :id, :name %>
  <%= form.submit "add" %>
<% end %>

<h3 style="color:  #556B2F">Courses</h3>
<% @user_courses.each do |c| %>
    Name : <%= c.name %><br>
    Description : <%= c.description %><br><br>
<% end %>

    <%= yield %>
  </body>
</html>