<p>User Name : <%= @name %></p><br>
<p>Password : <%= @password %></p><br>
<p>Gender : <%= @male %>
<%= @female %></p><br>
<p>Type : <%= @student %>
<%= @teacher %></p><br>
<p>Hidden Email : <%= @hidden %>

