<p>User Name : <%= @name %></p><br>
<p>Password : <%= @password %></p><br>
<p>Gender : <%= @Gender %><br>
<p>Type : <%= @tyype%>
</p><br>
<p>Hidden Email : <%= @hidden %>
<p>Hobbies : <%= @hobbies %></p>
<p>PHOTO<%= @user.photo.url(:medium) %></p>

